<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!-- When using an API key to access Google spreadsheets -->
    <add key="GoogleApiKey" value="" />
    <!-- Instead of using an API key, you can also use a service account. This way, you don't have to make your spreadsheet public. -->
    <!-- To use a service account, download its private key and store it in a file called "google-service-account.json" -->
    <add key="MonospaceCharactersPerLine" value="50" />
    <add key="ProportionalFontName" value="Franklin Gothic Book" />
    <add key="ProportionalFontSize" value="40" />
    <add key="ProportionalFontBold" value="false" />
    <add key="ProportionalLineWidth" value="1000" />
    <add key="SecondaryProportionalLineWidth" value="670" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>